{% extends 'base.html' %}
{% block content %}

<header>
    <nav class="page-nav">
        <ul>
            <div>
                <li> <a href="/"><button class="nav-button index-button">Home</button></a></li>
            </div>
            <div>
                <li><a href="/suppliers"><button class="nav-button button-supplier">Suppliers</button></a></li>
            </div>
        </ul>
    </nav>

    <section class="page-title">
        <h1>Full Inventory</h1>
    </section>

    <section>
        <a href="/products/new"><button class="add-new-button">Add New Product</button></a>
    </section>
    
</header>
<hr>

{% for product in inventory %}
    <article id="product-display">
        <div id="product-info">
            <section class="product-item">
                <h2>Name of Product:</h2>
                <h3>{{product.name}}</h3>
            </section>
            <section class="product-item">
                <h2>Category:</h2>
                <h3>{{product.category}}</h3>
            </section>
            <section class="product-item">
                <h2>Current Stock Level:</h2>
               
                    {% if product.in_stock >= 20 %}
                    <h3>{{product.in_stock}}</h3>
                    {% else %}
                    <h3 style="color:red">{{product.in_stock}}</h3>
                    {% endif %}
                    
              
                
            </section>
        </div>
        <a href="/products/{{product.id}}"><button class="view-button button-inv">View Product</button></a>
    </article>
    <hr>
    
{% endfor %}
    
{% endblock content %}



