{% extends 'base.html' %}
{% block content %}

<header>
    <nav>
        <ul>
            <li> <a href="/"><button>Home</button></a></li>
            <li><a href="/suppliers"><button>Suppliers</button></a></li>
        </ul>
    </nav>
    <h1>Full Inventory</h1>
    <a href="/products/new"><button>Add New Product</button></a>
</header>
<hr>

{% for product in inventory %}
    <article id="product-display">
        <div id="product-info">
            <section class="product-item">
                <h2>Name of Product:</h2>
                <h3>{{product.name}}</h3>
            </section>
            <section class="product-item">
                <h2>Category:</h2>
                <h3>{{product.category}}</h3>
            </section>
            <section class="product-item">
                <h2>Current Stock Level:</h2>
                <h3>{{product.in_stock}}</h3>
            </section>
        </div>
        <a href="/products/{{product.id}}"><button>View Product</button></a>
    </article>
    <hr>
    
{% endfor %}
    
{% endblock content %}



