{% extends 'base.html' %}
{% block content %}
<article class="form-container">
    <form action="/products",  method="POST">
        <section>
            <label for="name">Name of Product:</label>
            <input type="text" id="name" name="name">
        </section>

        <section>
            <label for="category">Select a Department:</label>
            <select name="category" id="category">
                <option value="Draught">Draught</option>
                <option value="Wine">Wine</option>
                <option value="Spirits">Spirits</option>
                <option value="Bottles">Bottles</option>
            </select>
        </section>
        <section>
            <label for="in_stock">Number in Stock:</label>
            <input type="number" id="in_stock" name="in_stock">
        </section>
        <section>
            <label for="cost_price">Cost Price:</label>
            <input type="number" id="cost_price" name="cost_price">
        </section>
        <section>
            <label for="sale_price">Retail Price:</label>
            <input type="number" id="sale_price" name="sale_price">
        </section>
        <section>
            <label for="description">Brief Description of the Product:</label>
            <textarea id="description" name="description" rows="4" columns="30">
            </textarea>
            
        </section>
        <section>
            <label for="supplier">Supplier:</label>
            <select id="supplier" name="supplier_id">
                {% for supplier in all_suppliers  %}
                <option value="{{supplier.id}}">{{ supplier.name }}</option>
                {% endfor %}
            </select>
        </section> 

        <button type="submit">Add Product</button>

    
    </form>
</article>
    
{% endblock content %}
