{% extends 'base.html' %}
{% block content %}

    <header>
        <nav class="page-nav">
            <ul>
                <div>
                    <li> <a href="/"><button class="nav-button index-button">Home</button></a></li>
                </div>
                <div>
                    <li> <a href="/products"> <button class="nav-button button-inv">Inventory</button> </a></li>
                </div>
            </ul>

        </nav>
        
        <section class="page-title">
            <h1>{{product.name}}</h1>   
        </section>  
        
    </header>
    <hr>

    <article id="product-single">
        <div id="product-info">
           
            <section class="product-item">
                <h2>Category:</h2>
                <p>{{product.category}}</p>
            </section>
            
            <section class="product-item">
                <h2>Decription:</h2>
                <p>{{product.description}}</p>
            </section>
            
            <section class="product-item">
                <h2>Supplier Name:</h2>
                <p>{{product.supplier.name}}</p
            </section>
        </div>
    
        <div id="product-maths">
            <section class="product-item-2">
                <h2>Wholesale Price:</h2>
                <p>£{{product.cost_price}}</p>
            </section>
        
            <section class="product-item-2">
                <h2>Retail Price:</h2>
                <p>£{{product.sale_price}}</p>
            </section>
            
            <section class="product-item-2">
                <h2>Current Stock Level:</h2>
                {% if product.in_stock >= 20 %}
                <h3>{{product.in_stock}}</h3>
                {% else %}
                <p style="color:red">{{product.in_stock}}</p>
                {% endif %}
            </section>
            
        </div>
        
    </article>
    <hr>
    <article class="edit-delete">
        <section>
        <a href="/products/{{product.id}}/edit"><button class="add-new-button">Edit Product</button></a>
        </section>
                   
        <section >
            <form action="/products/{{product.id}}/delete" method="POST">
                <input type="submit" value="Remove Product" class="delete-button" >
            </form>
        </section>

        

            
    </article>
    
{% endblock content %}