{% extends 'base.html' %}
{% block content %}

    <header>
        <nav>
            <ul>
                <li> <a href="/"><button>Home</button></a></li>
                <li> <a href="/products"> <button>Inventory</button> </a></li>
                <li><a href="/suppliers"><button>Suppliers</button></a></li>
            </ul>

        </nav>
        
        <h1>{{product.name}}</h1>     
        
    </header>

    <article id="product-single">
        <div id="product-info">
           
            <section class="product-item">
                <h2>Category:</h2>
                {{product.category}}
            </section>
            <section class="product-item">
                <h2>Decription:</h2>
                {{product.description}}
            </section>
            <section class="product-item">
                <h2>Supplier Name:</h2>
                {{product.supplier.name}}
            </section>
        </div>
        <div id="product-maths">
            <section class="product-item">
                <h2>Wholesale Price:</h2>
                <p>£{{product.cost_price}}</p>
            </section>
            <section class="product-item">
                <h2>Retail Price:</h2>
                <p>£{{product.sale_price}}</p>
            </section>
            <section class="product-item">
                <h2>Current Stock Level:</h2>
                {{product.in_stock}}
            </section>
        </div>

    <a href="/products/{{product.id}}/edit"><button>Edit Product</button></a>
        
    </article>
{% endblock content %}