{% extends 'base.html' %}
{% block content %}

<header>
    <nav class="page-nav">
        <ul>
            <div>
                <li> <a href="/"><button class="nav-button index-button">Home</button></a></li>
            </div>
            <div>
                <li> <a href="/suppliers"> <button class="nav-button button-supplier">Suppliers</button> </a></li>
            </div>
        </ul>
    </nav>
    <section class="page-title">
        <h1>Edit a Supplier in Suppliers Directory</h1>
    </section>
        
    
</header>
<article>
    <form action="/suppliers/{{supplier.id}}" method="post" class="form-container-2">
        <section>
            <label for="name">Supplier Name:</label>
        </section>
        <section>
            <input type="text" id="name" name="name" value="{{supplier.name}}">
        </section>

        <section>
            <label for="address">Address:</label>
        </section>
        <section>
            <textarea id="address" name="address" rows="5" cols="30" >{{supplier.address}}</textarea>
        </section>

        <section>
            <label for="phone_number">enter mobile number:</label>
        </section>
        <section>
            <input type="tel" id="phone_number" name="phone_number" placeholder="07123-123-123" pattern="[0-9]{5}-[0-9]{3}-[0-9]{3}" required>
        </section>

        <section>
            <label for="product">Products:</label>
        </section>
        <section>
            <input type="text" id="product" name="product" value="{{supplier.product}}">
        </section>  
        
        <section class="add-update-button-container">
            <button type="submit" class="add-update">Update Supplier</button>
        </section>
    
    </form>

    

</article>
    
{% endblock content %}