{% extends 'base.html' %}
{% block content %}

<header>
    <nav class="page-nav">
        <ul>
            <div>
                <li> <a href="/"> <button class="nav-button index-button">Home</button> </a></li>
            </div>
            <div>
                <li><a href="/products"><button class="nav-button button-inv">Inventory</button></a></li>
            </div>
        </ul>
    </nav>

    <section class="page-title">
        <h1>Suppliers List</h1>
    </section>

    <section>
        <a href="/suppliers/new"><button class="add-new-button">Add New Supplier</button></a>
    </section>
</header>
<hr>

{% for supplier in all_suppliers %}
    <article id="supplier-display">
        <div id="supplier-info">
            <section class="supplier-item">
                <h2>Name of Supplier</h2>
                <h3>{{supplier.name}}</h3>
            </section>
            <section class="supplier-item">
                <h2>Products:</h2>
                <h3>{{supplier.product}}</h3>
            </section>
        </div>
        <a href="/suppliers/{{supplier.id}}"><button class="view-button button-supplier">View Supplier Info</button></a>
    </article>
    <hr>
    
{% endfor %}
    
{% endblock content %}

