{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="page-nav">
        <ul>
            <div>
            <li> <a href="/"><button class="nav-button index-button">Home</button></a></li>
            </div>
            <div>
            <li> <a href="/suppliers"> <button class="nav-button button-supplier">Suppliers</button> </a></li>
            </div>
        </ul>
    </nav>
    <section class="page-title">
        <h1>Add a New Supplier to Suppliers Directory</h1>
    </section>
        
    
</header>

<article class="form-container">
    <form action="/suppliers" method="post">
        <section></section>
            <label for="name">Supplier Name:</label>
            <input type="text" id="name" name="name">
        </section>

        <section>
            <label for="address">Address:</label>
            <textarea id="address" name="address" rows="5" cols="30"></textarea>
        </section>

        <section>
            <label for="phone_number">enter mobile number:</label>
            <input type="tel" id="phone_number" name="phone_number" placeholder="07123-123-123" pattern="[0-9]{5}-[0-9]{3}-[0-9]{3}" required>
        </section>

        <section>
            <label for="product">Products:</label>
            <input type="text" id="product" name="product">
        </section>

        <button type="submit">Add Supplier</button>
        
    
    
    </form>

</article>


    
{% endblock content %}