{% extends 'base.html' %}
{% block content %}

<header>
    <nav>
        <ul>
            <li><a href="/"><button>Home</button></a></li>
            <li><a href="/products"><button>Inventory</button></a></li>
            <li><a href="/suppliers"><button>Suppliers</button></a></li>
        </ul>
    </nav>
</header>
<hr>

<article id="supplier-single">
    <div id="supplier-info">
        <section class="supplier-item">
            <h2>Supplier Name:</h2>
            <h3>{{supplier.name}}</h3>
        </section>
        <section class="supplier-item">
            <h2>Address:</h2>
            <p>{{supplier.address}}</p>
        </section>
        <section class="supplier-item">
            <h2>Telephone Number:</h2>
            <h3>{{supplier.phone_number}}</h3>
        </section>
        <section class="supplier-item">
            <h2>Products:</h2>
            <p>{{supplier.product}}</p>

        </section>
        <section class="supplier-item">

        </section>
    </div>
    <hr>

    <a href="/suppliers/{{supplier.id}}/edit"><button>Edit Supplier</button></a>

</article>
    
{% endblock content %}