{% extends 'base.html' %}
{% block content %}

<header>
    <nav class="page-nav">
        <ul>
            <div>
                <li><a href="/"><button class="nav-button index-button">Home</button></a></li>
            </div>
            <div>
                <li><a href="/suppliers"><button class="nav-button button-supplier">Suppliers</button></a></li>
            </div>
        </ul>
    </nav>
    <section class="page-title">
        <h1>{{supplier.name}}</h1>
    </section>
</header>
<hr>

<article id="supplier-single">
    <div id="supplier-info">
        <section class="supplier-item">
            <h2>Address:</h2>
            
            <p>{{supplier.address}}</p>
        </section>
        <section class="supplier-item">
            <h2>Telephone Number:</h2>
            
            <p>{{supplier.phone_number}}</p>
        </section>
        <section class="supplier-item">
            <h2>Products:</h2>
            
            <p>{{supplier.product}}</p>

        </section>
        
    </div>
    
</article>
<hr>

<article class="edit-delete">

    <section>
        <a href="/suppliers/{{supplier.id}}/edit"><button class="add-new-button">Edit Supplier</button></a>
    </section>

    <section>
        <form action="/suppliers/{{supplier.id}}/delete" method="POST">
            <input type="submit" value="Remove Supplier" class="delete-button">            
        </form>
    </section>

</article>

    
{% endblock content %}