body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:antiquewhite;
}

body > footer{
    background-color:#800020;
    color:antiquewhite;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

#home-page{
    display:grid;
    grid-template-rows:200px, 150px,250px;
}

#home-page > section > h1{
    height:150px;
    width:99%;
    font-size:70px;
    text-align: center;
    color:honeydew;
    padding:0;
    margin:5px;
    background-color:#800020;
}

#home-page > h2{
    height:100px;
    width:99%;
    font-size:50px;
    text-align:center;
    padding:0;
    margin:5px;
    border-top:5px solid #800020;
    border-bottom:5px solid #800020;
    
}

#home-nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 10px;
}

.button-home{
    height:200px;
    width:300px;
    font-family: 'Times New Roman', Times, serif;
    border-radius:15px;
    font-size:40px;

}

.button-inv{
    background-color:#FFCD28;   
}

.button-supplier{
    background-color:#DAE8FC;
}

#introduction{
    width:98%;
    height:200px;
    border:3px solid black;
    border-radius:20px;
    margin:5px 5px 10px 5px;
    text-align:center;
}

.page-title{
    height:100px;
    width:100%;
    font-size:50px;
    text-align: center;
    color:honeydew;
    padding:0;
    margin:0px;
    background-color:#800020;
}



.page-nav > ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
    list-style:none;
    justify-items: center;
}

.nav-button{
    height:150px;
    width:300px;
    border-radius:5px;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    margin:0px 10px;
}

.index-button{
    background-color:#800020;
    color:honeydew;
}

.button-container{
    display:flex;
    justify-content:center;
}

.add-new-button{
    background-color:lightgreen;
    border-radius:5px;
    height: 100px;
    width:500px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin:10px;
    
}

.view-button{
    height:100px;
    width:250px;
    border-radius:3px;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    margin:5px;
}


.delete-button{
    background-color:red;
    border-radius:5px;
    height: 100px;
    width:500px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin:10px;   

}

.edit-delete{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    justify-items:center;
}

#product-single{
    display:grid;
    grid-template-rows: 1fr 1fr;
    column-gap:5px;
}

#product-info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:5px;
}

#product-info-single{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:5px;
}

.product-item{
    text-align:center;
    border-right:2px dotted darkgray;

}

.product-item-2{
    text-align:center;
    border-right:2px dotted darkgray;
    border-top:2px dotted darkgray;
    

}

#product-maths{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:5px;
}


.product-item > p{
    font-size:30px;
}

.product-item-2 > p{
    font-size:30px;
}

#supplier-info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:5px;
}

.supplier-item{
    border-right:2px dotted darkgray;
    text-align: center;
}

.supplier-item > p{
    font-size:30px;
}

.supplier-item > h3{
    font-size:30px;
}

.supplier-item > h2{
    text-decoration: underline;
}

.product-item > h3{
    font-size: 30px;
}

.product-item > h2{
    font-size: 30px;
}
.product-item-2 > h3{
    font-size: 30px;
}

.product-item-2 > h2{
    font-size: 30px;
}

.add-update-button-container{
    display:flex;
    justify-content:center;
}

.add-update{
    height:100px;
    width:300px;
    background-color:limegreen;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin:10px;
}

.form-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-items:center;
    align-items:center;
}

.form-container > section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    align-items:center;
}

.form-container > section > label{
    font-size: 50px;
}

.form-container > section > input{
    height:80px;
    width:400px;
    font-size: 30px;
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    margin:10px;

}

.form-container > section > select {
    height:80px;
    width:400px;
    font-size: 30px;
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    margin:10px;

}

.form-container > section > textarea{
    height:200px;
    width:400px;
    font-size: 30px;
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    margin:10px;
}

.form-container-2{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr;
    justify-items:center;
    align-items:center;
}

.form-container-2 > section > label{
    font-size: 30px;
}

.form-container-2 > section > input{
    height:80px;
    width:400px;
    font-size: 30px;
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    margin:10px;

}

.form-container-2 > section > textarea{
    height:200px;
    width:400px;
    font-size: 30px;
    background-color: white;
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    margin:10px;
}

    