<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inn-Ventory</title>
</head>
<body>
   
    <main class = "container">
        {% block content %}
            
        {% endblock  %}
    </main>
    <footer>
        <section>
            <h3>©James Beedle 2021</h3>
        </section>
        <section>
            <p>Contact:James@inn-ventory.co.uk</p>
        </section>
    </footer>
    
</body>

</html>