{% extends 'base.html' %}
{% block content %}
<main>
    <article id="home-page">
       
        <h1>Welcome to Inn-Ventory</h1>
       
        <h2> Business Name Here</h2>
        
        <section id="introduction">
            <h2> 
           Welcome to Inn-Ventory, the app that will help with all of your inventory needs.
            </h2>
        </section>

    </article>
        
    <article id="home-nav"> 
        <section>       
            <a href="/products"> <button class="button-home button-inv">View Inventory</button>
            </a>
        </section>
        <section>
            <a href="/suppliers"><button class="button-home button-supplier">Suppliers Directory</button> </a>
        </section>
        

    </article>
</main>
    
{% endblock  %}